.btn {
    margin-top: 2rem;
    font-family: $headingFont;
    padding: 1.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 0.5rem;
    border: none;
    transition: background-color 0.3s ease;
  }
  .btn:hover {
    cursor: pointer;
  }
  .btn-primary {
    background-color: $gray2 !important ;
    color: $white;
  }
  .btn-primary:hover {
    background: $gray3 !important;
  }
  .btn-secundario {
    background-color: $white !important;
    color: $gray2;
  }
  .btn-block {
    display: block;
    width: 100%;
  }
  .btn-submit:hover {
    background-color: $gray2;
  }
  .btn-blank {
    margin: 0;
    padding: 0;
    display: block;
    color: $gray1;
  }
  
