.form-user {
    background-color: $gray2;
    height: 100vh;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container-form {
    padding: 5rem 3rem;
    max-width: 500px;
    width: 95%;
    background-color: $white;
    border-radius: 1rem;
  }
  
  .field-form {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
  }
  .field-form:last-of-type {
    margin: 0;
  }
  .field-form label {
    flex: 0 0 100px;
    font-family: $textFont;
  }
  .field-form input[type="email"],
  .field-form input[type="password"]{
    border: 1px solid #e1e1e1;
    padding: 1rem;
    flex: 1;
    font-size: 1.5rem;
  }